.header-main-cnt {
    width: 100%;
    background-color: rgb(147, 25, 25);
    display: flex;
    justify-content: space-around;
}

.header {
    display: flex;
    align-items: center;
    width: 80%;
}

.bookstore-icon {
    display: flex;
    flex-direction: row;
}

.bookstore-icon img {
    height: 23px;
}

.bookstore-icon span {
    color: white;
    padding: 0.5% 0% 0.25% 3%;
    font-size: 120%;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 6%;
}

.search-input {
    width: 550px;
    height: 28px;
    border-radius: 8px;
    text-indent: 30px;
}

.search-icon {
    height: 20px;
    width: 15px;
    margin-left: -550px;
    line-height: 0px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    color: white;
    font-size: 10px;
    gap: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.cart {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    color: white;
    font-size: 10px;
    gap: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.profile-history {
    // border: 2px solid red;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // padding: 2% 4%;
    gap: 6px;
}
.profile-history span{
    font-size: 18px;
}

.login-signup button {
    border: 1px solid red;
    // padding: 5px 10px;
    // border-radius: 5px;
    // margin-bottom: 5px;
    color: red;
}
.login-signin{
    // width: 100%;
    width: 200px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin: 10%;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}
.login-signin button{
    border: 1px solid red;
    // padding: 0px 10px;
    border-radius: 5px;
    // margin-bottom: 5px;
    height: 30px;
    width: 100px;
    color: red;
}

@media only screen and (min-width: 300px) and (max-width: 500px) {
    .bookstore-icon span {
        display: none;
    }
}
