<div class="header-main-cnt">
    <div class="header">
        <div class="bookstore-icon" routerLink="/books">
            <img src="assets/education.png" alt="Image not found">
            <span>BookStore</span>
        </div>

        <div class="search-container">
            <input type="text" class="search-input" placeholder="Search...">
            <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
        </div>

        <div class="profile" [matMenuTriggerFor]="Profile">
            <mat-icon class="profile-icon" svgIcon="profile-icon" aria-hidden="false" aria-label="Profile SVG icon"></mat-icon>
            <span>Profile</span>
        </div>

        <div class="cart" (click)="handleCart()">
            <mat-icon class="cart-icon" svgIcon="cart-icon" aria-hidden="false" aria-label="Cart SVG icon"></mat-icon>
            <span>Cart</span>
        </div>
    </div>
</div>

<mat-menu #Profile="matMenu">
    <div class="profile-history" *ngIf="loginLogOut">
        <span><b>Welcome</b></span>
        <span>To access account and manage orders</span>
        <div class="login-signup">
            <button mat-button (click)="login()">LOGIN/SIGNUP</button>
        </div>
        <div>         <hr>
        </div>
        <div class="order-icon" routerLink="/orderList">My Orders</div>
        <div class="heart-icon" routerLink="/wishList">&#x2764; Wishlist</div>
    </div>
    <div *ngIf="!loginLogOut">
        <div class="login-signin">
            <span>Hello Premkumar,</span>
            <div class="profile-icon">Profile</div>
            <div class="order-icon" routerLink="/orderList">My Orders</div>
            <div class="heart-icon" routerLink="/wishList">&#x2764;My Wishlist</div>
            <button mat-button (click)="logout()">LOGOUT</button>
        </div>
    </div>
</mat-menu>

<div>
    <router-outlet></router-outlet>
</div>
