<div class="header-main-cnt">
    <div class="header">
     <div class="bookstore-icon">
       <img src="assets/education.png" alt="Image not found">
       <span>BookStore</span>
    </div>

    <div class="search-container">
        <input type="text" class="search-input" placeholder="Search...">
        <mat-icon class="search-icon" svgIcon="search-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
    </div>

    <div class="profile">
        <mat-icon class="profile-icon"  svgIcon="profile-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
        <span>Profile</span>
    </div>

    <div class="cart">
        <mat-icon class="cart-icon" svgIcon="cart-icon" aria-hidden="false" aria-label="Search SVG icon"></mat-icon>
        <span>Cart</span>
    </div>
</div>
</div>