.heading-content{
    // border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.book-items{
    padding: 1.564% 0.700% 0.800% 10%;
}
.book{
    font-size: 1.4em;
    font-weight: bold;
}
.sort-item{
    margin: 1.564% 14% 0% 0%;
    border: 2px solid rgb(212, 210, 210);
    display: flex;
    justify-content: center;
    align-items: center;
padding-left: 10px;
}
.sort-item mat-icon{
    // padding-top: 5px;
}
.books{
   display: flex;
   align-items: center;
}