.signup-form-cnt form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 5%;
}
b{
    font-size: small;
}

.input {
    width: 252px;
    height: 30px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E2E2E2;
    border-radius: 2px;
    padding: 8px; 
    margin-bottom: 10px; 
    // border: 2px solid rgb(147, 143, 143);
    // border-radius: 5px; 
}

.signup-button {
    width: 100%;
    padding: 10px 0px 10px 110px;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    background: #A03037 0% 0% no-repeat padding-box;
    border-radius: 3px;     
    border: none;
    // border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.mat-error {
    font-size: smaller; 
  }
  