<div class="book-main-cnt">
<div class="book-outer-container">
    <div *ngFor="let book of BookObjectList | search : searchString"  class="book-container">
      <div class="book-image-background-container"  (click)="handleBook(book)">
        <img src="{{ book?.imagePath }}" class="book-image" />
      </div>  
      <div class="book-details">
        <span class="book-title"><strong>{{book?.title}}</strong></span>
        <span class="book-author">{{book?.author}}</span>
        <div class="quantity-price">
          <span class="book-rating">4.8{{book?.bookRating}} *</span>
          <span>(40)</span> 
        </div>
        <div class="book-price"><b>Rs. {{book?.price}}</b> <span class="original-price">Rs. 2000</span></div>
      </div>
    </div>
</div>
</div>

 