 <div class="orderlist-main-cnt">
    <div class="title-nav">
        <span class="home-nav" routerLink="/dashboard/books">Home</span>
        <span class="order-nav">/ My Order</span>
    </div>
    <div class="orderlist-cnt" *ngIf="orderList.length > 0">
            <div *ngFor="let item of orderList" class="orderlist-books-cnt">
                <img src="{{ item?.imagePath }}" alt="image is not found" class="book-image-cnt">
                <div class="book-details">
                   <span class="book-name">{{item?.title}}</span>
                   <span class="author-name">{{item?.author}}</span>
                   <span class="price">Rs. {{item.price}}</span>
                </div>
                <ul class="circle-list">
                    <li><span class="order-date">Order placed on {{item.orderDate}}</span></li>
                </ul>
            </div>
    </div>
    <div *ngIf="orderList.length === 0" class="empty-orderlist">
        <span class="content">Your wishlist is empty</span>
    </div>
</div>
