
.orderlist-main-cnt{
    width:74.8%;
    margin-left: 174px;;
    display: flex;
    flex-direction: column;
    //margin:19px auto 174px auto;
}
.title-nav
{
    width: 100%;
    margin-top: 19px;
}
.home-nav{
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
}
.order-nav{
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
}
.orderlist-cnt{
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    //border: 1px solid #E4E4E4;
    margin-top: 17px;
    //padding:34px 53px 34px 36px;
    
}
.orderlist-books-cnt{
    display: flex;
    flex-direction: row;
    gap:38px;  
    padding:40px 40px 40px 36px; 
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E4E4E4;
    margin-bottom: 22.22px;
}
.book-image-cnt{
    width: 65px;
    height: 85px;
   // border:1px solid black;
}
.book-details
{
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Added to take up available space */
}

.book-name{
    text-align: left;
     font: normal normal normal 18px/24px Roboto;
     letter-spacing: 0px;
     color: #0A0102;
}
.author-name{
    text-align: left;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
    margin-top: 5px;
}
.price{
    text-align: left;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    margin-top: 13px;
}

.empty-orderlist{
    width: 100%;
    margin-top: 17px;
}
.circle-list {
    list-style-type: disc;
    color: green; /* Change the color to green */
}

.order-date{
    text-align: left;
    font: normal normal bold 15px/20px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
}

