<div class="order-main-cnt">
    <div class="order-img">
        <img src="assets/OrderPlaced.jpg" alt="">
    </div>
    <div class="order-detail">
       <div class="order-detail-header">
            <span class="email">Email us</span><span>Contact us</span><span>Address</span>
       </div>
       <div class="user-detail-main">
        <div class="details"> <span>premkumar@gmail.com</span></div>
        <div class="details"> <span>76359867948</span></div>
        <div class="details"> <span>3/54 dharmapuri,tamilnadu-643783</span></div>
       </div>
    </div>
    <button mat-raised-button color="primary" class="continue-btn" routerLink="/books">CONTINUE SHOPPING</button>

</div>